<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestProject1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestProject1.Properties.Settings>
            <setting name="TestProject1_WSVersion2_Service" serializeAs="String">
                <value>http://localhost:18310/v2/Service.asmx</value>
            </setting>
            <setting name="TestProject1_WSVersion3_Service" serializeAs="String">
                <value>http://localhost:18310/v3/Service.asmx</value>
            </setting>
        </TestProject1.Properties.Settings>
    </applicationSettings>
</configuration>